h1,h2,h3{font-family: cursive;
font-size: large;
font-weight: bold;}
p{background-color: aquamarine;}
.articolo1 {background-image:url(https://www.google.com/search?sca_esv=5e35d2333b8f2d4f&rlz=1C1GGRV_enIT748IT748&q=sfondo+lilla+tenue&udm=2&fbs=AEQNm0AhtDknupEF8_qTQA8ksbc_ApAFdfCx4z-pmFMoZwUOPJaCnYygt8FiZDPTsw4TuYYnbiJmCbdVpJAwkCqxA4UGMw7Us2Jwiz61U6ZMWTB4wBLpmIgjem61k3P8Ml0LxrSWzqqWbE3RKWGTN9O57LCpxY7pLB6MO7YJmzl_DIvllNbQkj7YsMHu8RplGiWSihFTzVHf&sa=X&ved=2ahUKEwi2t9rprbiKAxUg_bsIHb5gAW4QtKgLegQIDxAB&biw=1920&bih=919&dpr=1#vhid=bgm60tYYSxFI0M&vssid=mosaic);}